.group-cinema {
    margin: 0 100px;
    .cinema {
        position: relative;
        padding: 15px 20px;
        width: 100%;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: calc(100% - 40px);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            border-bottom: 1px solid $color-white-0;
            border-color: rgba(238, 238, 238, 0.88);
        }
        .cinema__info {
            width: 100%;
            padding-left: 10px;
            text-align: left;
            text-transform: none;
            .cinema__address {
                display: block;
                font-size: $fs-2;
                color: #949494;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .cinema__detail {
                color: $color-orange-0;
            }
            .cinema__name {
                display: block;
                color: $color-black-0;
                font-size: $fs-0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .cinema__name__group {
                    color: $color-green-1;
                }
            }
        }
    }
}
